<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <h1>Form</h1>
    <form>
        <input placeholder="search" />
        <button >Submit</button>
    </form>
     <script src="app.js"></script>
</body>
</html>